/*@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');*/
body {
  background: #fff;
  margin: 0 auto;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #12100e;
  line-height: 20px;
  font-weight: 400;
}

table {
  width: 100%;
}

b {
  font-weight: 600;
}
.text_total {
  font-weight: 700;
}
.title_gray td {
  background-color: #f2f2f1;
}
.title {
  background-color: #005d98;
  /*background: -o-linear-gradient(-120deg, #BF9429 0%, #72501B 100%);
    background: linear-gradient(-120deg, #BF9429 0%, #72501B 100%);*/
  background-image: url(../images/mask.png);
  background-position: left top;
  background-repeat: no-repeat;
}
.text_sub {
  font-size: 12px;
  color: #3a3423;
  opacity: 0.9;
}
.td_sub {
  color: #3a3423;
}

.head_td2_a {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 2px;
  text-transform: uppercase;
}
.head_td2_b {
  font-size: 14px;
  color: #dbdbdb;
}

.title td {
  color: #fff;
}
.table_page {
  position: relative;
}

.txt_upber {
  text-transform: uppercase;
}

.content {
  padding: 25px;
}

td.td {
  padding-left: 0;
  padding-right: 0;
}

.td_bottom_b {
  color: #666666;
}

img {
  display: inherit;
}

td.td_top {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 0;
  padding-right: 0;
}
.qrcode {
  padding: 1px;
  border: 3px solid #cccccc;
  width: 44px;
  height: 44px;
}
td.td_bottom {
  padding-top: 16px;
  padding-bottom: 16px;
}
.head_td1 img {
  height: auto;
  width: 170px;
}
.table_normal td {
  padding-bottom: 10px;
}
.td_bottom .table_normal td {
  padding-bottom: 0;
}
.align-top td {
  vertical-align: top;
}

.table_bor td,
.table_bor th,
.table_style td,
.table_style th {
  padding: 5px;
  text-align: left;
  vertical-align: top;
}

.table_bor {
  border-top: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
}
th b {
  font-weight: 400;
}
.table_bor td {
  border-bottom: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
}
.table_bor tbody tr:nth-child(2n + 1) td {
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.table_bor th {
  background-color: #005d98;
  color: #fff;
}
.table_bor {
  border-radius: 4px;
}
.table_bor tbody tr:last-child td:first-child {
  border-radius: 0 0 0 4px;
}

.table_bor tbody tr:last-child td:last-child {
  border-radius: 0 0 4px 0;
}

.table_bor th:first-child {
  border-radius: 4px 0 0 0;
}

.table_bor th:last-child {
  border-radius: 0 4px 0 0;
}

.table_style tbody tr:nth-child(2n + 1) td {
  background-color: #f5f5f5;
}

.table_style th {
  background-color: #e0e0e0;
}
th .th_sub {
  font-weight: 400;
  color: #dbdbdb;
  font-size: 12px;
}

.td_status_error b {
  /*color: #E11900;*/
  font-weight: 400;
}

.td_status_success b {
  /*color: #05944F;*/
  font-weight: 400;
}
.page_number {
  text-align: right;
  position: absolute;
  right: 0;
  line-height: 20px;
  bottom: 25px;
}
.container {
  margin: 0 auto;
}
.space_30 {
  height: 0;
  line-height: 0;
}
.body {
  margin: 0 auto;
  background-color: #fff;
}
page {
  display: block;
  position: relative;
  margin: 0 auto;
  margin-bottom: 0.5cm;
}

page[size="A4"] {
  height: 29.7cm;
  width: 21cm;
}

page[size="A4"][layout="landscape"] {
  width: 29.7cm;
  height: 21cm;
}

page[size="A3"] {
  width: 29.7cm;
  height: 42cm;
}

page[size="A3"][layout="landscape"] {
  width: 42cm;
  height: 29.7cm;
}

page[size="A5"] {
  width: 14.8cm;
  height: 21cm;
}

page[size="A5"][layout="landscape"] {
  width: 21cm;
  height: 14.8cm;
}
.head_td1 {
  padding-left: 16px;
}
.head_td2 {
  padding-right: 16px;
}
@media (max-width: 1024px) {
}
@media (min-width: 640px) {
  .col2 {
    width: 170px;
  }
  .col3 {
    width: 130px;
  }
  .col4 {
    width: 100px;
  }
}

@media print {
  body,
  page {
    background: #fff;
    margin: 0;
    box-shadow: 0;
  }
  .page_number {
    display: none;
  }
  .body {
    box-shadow: 0 0 8px rgb(37 42 49 / 16%);
    -moz-box-shadow: 0 0 8px rgb(37 42 49 / 16%);
    -webkit-box-shadow: 0 0 8px rgb(37 42 49 / 16%);
    background-color: #fff;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
  }
  td.head_td1 {
    padding-left: 25px;
  }
  td.head_td2 {
    padding-right: 25px;
  }
}
.head_title td {
  padding: 30px 0 10px;
}
.head_title_a {
  font-size: 22px;
  text-transform: uppercase;
}
.head_title_b {
  font-size: 16px;
}

.align-top td {
  vertical-align: top;
}
.table_normal_sub td {
  padding-bottom: 0;
}
th,
td {
  min-width: 30px;
  max-width: 200px;
  word-wrap: break-word;
}
